*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #222;
    color: #fff;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }
  
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 500px;
    width: 100%;
}
  
.clock {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
  
.clock span {
    display: inline-block;
    padding: 0 0.25em;
}

  